@charset "UTF-8";
.wrap--my-page .header {
  position: relative;
  padding-bottom: 60px;
  border-bottom: 1px solid #e5e8eb;
}
.wrap--my-page .header__container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  margin: 0 auto;
  padding: 0 18px;
  background: #fff;
}
.wrap--my-page .header__user {
  position: relative;
}
.wrap--my-page .header__btn-list {
  position: absolute;
  top: calc(100% + 10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 152px;
  padding: 15px 20px;
  gap: 10px;
  border: 1px solid #eee;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.wrap--my-page .header__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  height: 24px;
}
.wrap--my-page .header__btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.wrap--my-page .header__btn--user .icon {
  background: url(../img/ico_user.svg) no-repeat center/contain;
}
.wrap--my-page .header__btn--logout .icon {
  background: url(../img/ico_logout.svg) no-repeat center/contain;
}
.wrap--my-page .header .box {
  position: relative;
  top: 0;
  right: 0;
}
.wrap--my-page .header .box button.user_btn,
.wrap--my-page .header .box button.point_btn {
  color: #636363;
  font-weight: 500;
}
.wrap--my-page .header .my-page__btn--home {
  width: 20px;
  height: 20px;
  background: url(../img/icon-home-g.svg) no-repeat center/contain;
}

.my-page__contents {
  display: flex;
  padding-top: 24px;
}
.my-page__sidebar {
  padding: 0 18px 43px 18px;
}
.my-page__sidebar-tab {
  display: flex;
  flex-direction: column;
}
.my-page__sidebar-btn {
  padding: 0 22px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
  width: 224px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.004em;
  color: #3d4145;
  border-radius: 10px;
}
.my-page__sidebar-btn .icon {
  width: 18px;
  height: 18px;
  background: url(../img/ico_my.png) no-repeat center/contain;
}
.my-page__sidebar-btn--act .icon {
  background: url(../img/ico_act.png) no-repeat center/contain;
}
.my-page__sidebar-btn.is-active {
  background-color: #f2f4f6;
  font-weight: 600;
  color: #000000;
}
.my-page__sidebar-btn.is-active .icon {
  background: url(../img/ico_my-blue.png) no-repeat center/contain;
}
.my-page__sidebar-btn.is-active.my-page__sidebar-btn--act .icon {
  background: url(../img/ico_act-blue.png) no-repeat center/contain;
}
.my-page__main {
  flex: 1;
  padding: 0 20px 43px 20px;
}
.my-page__main-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.004em;
  color: #000;
  margin-bottom: 20px;
}
.my-page__main-contetnt {
  background: #f9fafb;
  padding: 20px 20px 60px;
  max-width: 1028px;
  border-radius: 10px;
}
.my-page__main-contetnt .my-page__card {
  margin-bottom: 28px;
}
.my-page__main-contetnt .my-page__card:last-of-type {
  margin-bottom: 0;
}
.my-page__main-contetnt .my-page__comments {
  margin-bottom: 28px;
}
.my-page__main-contetnt .my-page__comments:last-of-type {
  margin-bottom: 0;
}
.my-page__main-contetnt--comment {
  padding: 0 6px 20px 0;
}
.my-page__main-contetnt--not-comment {
  text-align: center;
  padding: 100px 50px;
}
.my-page__main-contetnt--not-comment .my-page__not-comment-text-wrap {
  position: relative;
  padding-top: 84px;
  margin-bottom: 40px;
}
.my-page__main-contetnt--not-comment .my-page__not-comment-text-wrap::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translateX(-50%);
  background: url(../img/ico_coment.png) no-repeat center/contain;
}
.my-page__main-contetnt--not-comment .my-page__not-comment-text-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.004em;
  color: #000000;
  margin-bottom: 16px;
}
.my-page__main-contetnt--not-comment .my-page__not-comment-text-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.004em;
  color: #777777;
}
.my-page__main-contetnt--not-comment .my-page__btn {
  margin: 0 auto;
}
.my-page__main-contetnt--not-comment .my-page__btn--default {
  width: 180px;
  height: 48px;
}
.my-page__main-contetnt-title--comment {
  margin: 0 14px 20px 20px;
  padding: 20px 0 17px;
  border-bottom: 1px solid #ebedf0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.004em;
  color: #000000;
}
.my-page__main-contetnt-title--comment .my-page__count {
  margin-left: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.004em;
  color: #4285f4;
}
.my-page__card .my-page__card-message--variant-1 {
  margin-top: 8px;
  margin-left: 4px;
}
.my-page__card .my-page__card-message--variant-2 {
  margin-top: 2px;
  margin-left: 12px;
}
.my-page__card--comments {
  padding: 0 14px 0 20px;
  height: 705px;
  overflow: hidden;
  overflow-y: auto;
}
.my-page__card--comments::-webkit-scrollbar {
  width: 4px; /* 세로축 스크롤바 폭 너비 */
  height: 130px; /* 가로축 스크롤바 폭 너비 */
}
.my-page__card-message--variant-1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.004em;
  color: #f04452;
}
.my-page__card-message--variant-2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.004em;
  color: #999999;
}
.my-page__card-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.my-page__field {
  display: flex;
  gap: 8px;
  max-width: 622px;
}
.my-page__field .my-page__btn {
  flex-shrink: 0;
}
.my-page__field .my-page__btn--default {
  width: 145px;
  height: 48px;
  border-radius: 10px;
}
.my-page__field--variant-1 {
  display: block;
  position: relative;
  max-width: 622px;
}
.my-page__field--variant-1 .my-page__input {
  padding-right: 60px;
}
.my-page__field-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 12px;
  letter-spacing: -0.004em;
}
.my-page__field-message {
  margin-left: 4px;
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.004em;
  color: #4285f4;
}
.my-page__comments {
  background: #ffffff;
  border: 1px solid #ebedf0;
  border-radius: 10px;
  padding: 16px 14px 16px 16px;
}
.my-page__comments .my-page__comment-item:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.my-page__comment-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 21px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dfdfdf;
}
.my-page__comment-article {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.004em;
  color: #777777;
}
.my-page__comment-reply {
  margin-bottom: 12px;
  padding: 10px 16px;
  background: #f6f7f9;
  border: 1px solid #ebedf0;
  border-radius: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.004em;
  color: #777;
}
.my-page__comment-reply .my-page__reply-user {
  color: #000;
}
.my-page__comment {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.004em;
  color: #000000;
}
.my-page__comment-date {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.004em;
  color: #777777;
}
.my-page__comment-meta {
  display: flex;
  align-items: center;
  gap: 12px;
}
.my-page__comment-meta .my-page__time,
.my-page__comment-meta .my-page__like {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.004em;
  color: #999999;
}
.my-page__comment-meta .my-page__like {
  display: flex;
  gap: 3px;
  align-items: center;
}
.my-page__comment-meta .my-page__like .icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/ico_heart.png) no-repeat center/contain;
}
.my-page__comment-meta .my-page__reply-count {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.004em;
  color: #4285f4;
}
.my-page__input {
  font-family: "Pretendard";
  width: 100%;
  max-width: 622px;
  box-sizing: border-box;
  height: 48px;
  background: #ffffff;
  border: 1px solid #e5e8eb;
  border-radius: 10px;
  padding: 0 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.004em;
  color: #000000;
}
.my-page__input[readonly] {
  color: #999999;
}
.my-page__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.004em;
  color: #999999;
}
.my-page__input-count {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #999999;
}
.my-page__input-count-num.is-count {
  color: #000;
}
.my-page__empty-name {
  text-align: center;
  background: #ffffff;
  border: 1px solid #e5e8eb;
  border-radius: 10px;
  padding: 24px;
  max-width: 622px;
}
.my-page__empty-name-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.004em;
  color: #313131;
  margin-bottom: 8px;
}
.my-page__empty-name-message {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.004em;
  color: #999999;
  margin-bottom: 24px;
}
.my-page__empty-name .my-page__btn {
  margin: 0 auto;
}
.my-page__setting-name {
  padding: 20px;
  background: #ffffff;
  border: 1px solid #e5e8eb;
  border-radius: 10px;
  max-width: 622px;
}
.my-page__setting-name .my-page__input {
  border-color: #4285f4;
}
.my-page__setting-name .my-page__btn {
  margin: 0 auto;
  margin-top: 24px;
}
.my-page__setting-name .my-page__card-btn-wrap {
  margin-top: 24px;
}
.my-page__setting-name .my-page__card-btn-wrap .my-page__btn {
  margin: 0;
}
.my-page__setting-name--warning .my-page__input {
  border-color: #f04452;
}
.my-page__setting-name--warning .my-page__field-message {
  color: #f04452;
}
.my-page__news-list {
  max-width: 708px;
  margin: 80px auto 0;
}
.my-page__news-list-title {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 16px;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.004em;
  color: #000000;
}
.my-page__news-list-title .icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url(../img/icon-fire.png) no-repeat center/contain;
}
.my-page__btn {
  transition: 0.1s;
}
.my-page__btn--default {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 40px;
  background: #4285f4;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.004em;
  color: #ffffff;
}
.my-page__btn--default:hover {
  background: #2366d5;
}
.my-page__btn--default[disabled] {
  background: #90c2ff;
}
.my-page__btn--variant-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background: #4285f4;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.004em;
  color: #ffffff;
}
.my-page__btn--variant-1:hover {
  background: #2366d5;
}
.my-page__btn--variant-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #ebedf0;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.004em;
  color: #000000;
}
.my-page__btn--variant-2.my-page__btn--small {
  width: 80px;
  height: 36px;
  font-weight: 400;
}
.my-page__btn--variant-2:hover {
  background: #f9fafb;
}

.news-grid {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.news-grid .news-card {
  width: 348px;
  height: 88px;
  background: #ffffff;
  border: 1px solid #e9ebed;
  border-radius: 10px;
  overflow: hidden;
  padding-right: 16px;
}
.news-grid .news-card__link {
  display: flex;
  align-items: center;
  gap: 12px;
}
.news-grid .news-card__link:hover .news-card__title {
  text-decoration: underline;
}
.news-grid .news-card__thumb {
  height: 88px;
}
.news-grid .news-card__title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: wrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.004em;
  color: #000000;
}