@mixin text-cut-multiline($w: 100%, $wlc: 2) {
  width: $w;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $wlc;
  -webkit-box-orient: vertical;
  white-space: wrap;
}

.wrap {
  &--my-page {
    .header {
      position: relative;
      padding-bottom: 60px;
      border-bottom: 1px solid #e5e8eb;

      &__container {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        width: 100%;
        margin: 0 auto;
        padding: 0 18px;
        background: #fff;
      }

      &__user {
        position: relative;
      }

      &__btn-list {
        position: absolute;
        top: calc(100% + 10px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 152px;
        padding: 15px 20px;
        gap: 10px;
        border: 1px solid #eee;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
      }

      &__btn {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        font-size: 16px;
        color: #000000;
        height: 24px;

        .icon {
          display: inline-block;
          width: 16px;
          height: 16px;
        }

        &--user {
          .icon {
            background: url(../img/ico_user.svg) no-repeat center/contain;
          }
        }

        &--logout {
          .icon {
            background: url(../img/ico_logout.svg) no-repeat center/contain;
          }
        }
      }

      .box {
        position: relative;
        top: 0;
        right: 0;

        button.user_btn,
        button.point_btn {
          color: #636363;
          font-weight: 500;
        }
      }

      .my-page__btn {
        &--home {
          width: 20px;
          height: 20px;
          background: url(../img/icon-home-g.svg) no-repeat center/contain;
        }
      }
    }
  }
}

.my-page {
  $field-max-width: 622px;
  $field-boder-color: #e5e8eb;

  &__contents {
    display: flex;
    padding-top: 24px;
  }

  &__sidebar {
    padding: 0 18px 43px 18px;
  }

  &__sidebar-tab {
    display: flex;
    flex-direction: column;
  }

  &__sidebar-btn {
    padding: 0 22px;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 48px;
    width: 224px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.004em;
    color: #3d4145;
    border-radius: 10px;

    .icon {
      width: 18px;
      height: 18px;
      background: url(../img/ico_my.png) no-repeat center/contain;
    }

    &--act {
      .icon {
        background: url(../img/ico_act.png) no-repeat center/contain;
      }
    }

    &.is-active {
      background-color: #f2f4f6;
      font-weight: 600;
      color: #000000;

      .icon {
        background: url(../img/ico_my-blue.png) no-repeat center/contain;
      }

      &.my-page__sidebar-btn--act {
        .icon {
          background: url(../img/ico_act-blue.png) no-repeat center/contain;
        }
      }
    }
  }

  &__main {
    flex: 1;
    padding: 0 20px 43px 20px;
  }

  &__main-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.004em;
    color: #000;
    margin-bottom: 20px;
  }

  &__main-contetnt {
    background: #f9fafb;
    padding: 20px 20px 60px;
    max-width: 1028px;
    border-radius: 10px;

    .my-page__card {
      margin-bottom: 28px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .my-page__comments {
      margin-bottom: 28px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &--comment {
      padding: 0 6px 20px 0;
    }

    &--not-comment {
      text-align: center;
      padding: 100px 50px;

      .my-page__not-comment-text-wrap {
        position: relative;
        padding-top: 84px;
        margin-bottom: 40px;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
          width: 60px;
          height: 60px;
          transform: translateX(-50%);
          background: url(../img/ico_coment.png) no-repeat center/contain;
        }
      }

      .my-page__not-comment-text-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.004em;
        color: #000000;
        margin-bottom: 16px;
      }

      .my-page__not-comment-text-desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.004em;
        color: #777777;
      }

      .my-page__btn {
        margin: 0 auto;

        &--default {
          width: 180px;
          height: 48px;
        }
      }
    }
  }

  &__main-contetnt-title {
    &--comment {
      margin: 0 14px 20px 20px;
      padding: 20px 0 17px;
      border-bottom: 1px solid #ebedf0;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.004em;
      color: #000000;

      .my-page__count {
        margin-left: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.004em;
        color: #4285f4;
      }
    }
  }

  &__card {
    .my-page__card-message {
      &--variant-1 {
        margin-top: 8px;
        margin-left: 4px;
      }

      &--variant-2 {
        margin-top: 2px;
        margin-left: 12px;
      }
    }

    &--comments {
      padding: 0 14px 0 20px;
      height: 705px;
      overflow: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 4px; /* 세로축 스크롤바 폭 너비 */
        height: 130px; /* 가로축 스크롤바 폭 너비 */
      }
    }
  }

  &__card-message {
    &--variant-1 {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.004em;
      color: #f04452;
    }

    &--variant-2 {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: -0.004em;
      color: #999999;
    }
  }

  &__card-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &__field {
    display: flex;
    gap: 8px;
    max-width: $field-max-width;

    .my-page__btn {
      flex-shrink: 0;

      &--default {
        width: 145px;
        height: 48px;
        border-radius: 10px;
      }
    }

    &--variant-1 {
      display: block;
      position: relative;
      max-width: $field-max-width;

      .my-page__input {
        padding-right: 60px;
      }
    }
  }

  &__field-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 12px;
    letter-spacing: -0.004em;
  }

  &__field-message {
    margin-left: 4px;
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.004em;
    color: #4285f4;
  }

  &__comments {
    background: #ffffff;
    border: 1px solid #ebedf0;
    border-radius: 10px;
    padding: 16px 14px 16px 16px;

    .my-page__comment-item {
      &:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
      }
    }
  }

  &__comment-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 21px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dfdfdf;
  }

  &__comment-article {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.004em;
    color: #777777;
  }

  &__comment-reply {
    margin-bottom: 12px;
    padding: 10px 16px;
    background: #f6f7f9;
    border: 1px solid #ebedf0;
    border-radius: 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.004em;
    color: #777;

    .my-page__reply-user {
      color: #000;
    }
  }

  &__comment {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.004em;
    color: #000000;
  }

  &__comment-date {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.004em;
    color: #777777;
  }

  &__comment-meta {
    display: flex;
    align-items: center;
    gap: 12px;

    .my-page__time,
    .my-page__like {
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: -0.004em;
      color: #999999;
    }

    .my-page__like {
      display: flex;
      gap: 3px;
      align-items: center;

      .icon {
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url(../img/ico_heart.png) no-repeat center/contain;
      }
    }

    .my-page__reply-count {
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: -0.004em;
      color: #4285f4;
    }
  }

  &__input {
    font-family: 'Pretendard';
    width: 100%;
    max-width: $field-max-width;
    box-sizing: border-box;
    height: 48px;
    background: #ffffff;
    border: 1px solid $field-boder-color;
    border-radius: 10px;
    padding: 0 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.004em;
    color: #000000;

    &[readonly] {
      color: #999999;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.004em;
      color: #999999;
    }
  }

  &__input-count {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #999999;
  }

  &__input-count-num {
    &.is-count {
      color: #000;
    }
  }

  &__empty-name {
    text-align: center;
    background: #ffffff;
    border: 1px solid $field-boder-color;
    border-radius: 10px;
    padding: 24px;
    max-width: $field-max-width;

    &-title {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.004em;
      color: #313131;
      margin-bottom: 8px;
    }

    &-message {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.004em;
      color: #999999;
      margin-bottom: 24px;
    }

    .my-page__btn {
      margin: 0 auto;
    }
  }

  &__setting-name {
    padding: 20px;
    background: #ffffff;
    border: 1px solid $field-boder-color;
    border-radius: 10px;
    max-width: $field-max-width;

    .my-page__input {
      border-color: #4285f4;
    }

    .my-page__btn {
      margin: 0 auto;
      margin-top: 24px;
    }

    .my-page__card-btn-wrap {
      margin-top: 24px;

      .my-page__btn {
        margin: 0;
      }
    }

    &--warning {
      .my-page__input {
        border-color: #f04452;
      }

      .my-page__field-message {
        color: #f04452;
      }
    }
  }

  &__news-list {
    max-width: 708px;
    margin: 80px auto 0;
  }

  &__news-list-title {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-bottom: 16px;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.004em;
    color: #000000;

    .icon {
      width: 18px;
      height: 18px;
      display: inline-block;
      background: url(../img/icon-fire.png) no-repeat center/contain;
    }
  }

  &__btn {
    transition: 0.1s;

    &--default {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 124px;
      height: 40px;
      background: #4285f4;
      border-radius: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.004em;
      color: #ffffff;

      &:hover {
        background: #2366d5;
      }

      &[disabled] {
        background: #90c2ff;
      }
    }

    &--variant-1 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 40px;
      background: #4285f4;
      border-radius: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.004em;
      color: #ffffff;

      &:hover {
        background: #2366d5;
      }
    }

    &--variant-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 40px;
      background: #ffffff;
      border: 1px solid #ebedf0;
      border-radius: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.004em;
      color: #000000;

      &.my-page__btn--small {
        width: 80px;
        height: 36px;
        font-weight: 400;
      }

      &:hover {
        background: #f9fafb;
      }
    }
  }
}

.news-grid {
  display: flex;
  justify-content: center;
  gap: 12px;

  .news-card {
    width: 348px;
    height: 88px;
    background: #ffffff;
    border: 1px solid #e9ebed;
    border-radius: 10px;
    overflow: hidden;
    padding-right: 16px;

    &__link {
      display: flex;
      align-items: center;
      gap: 12px;

      &:hover {
        .news-card__title {
          text-decoration: underline;
        }
      }
    }

    &__thumb {
      height: 88px;
    }

    &__title {
      @include text-cut-multiline($wlc: 2);
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.004em;
      color: #000000;
    }
  }
}
